<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Spam Classifier</title>
    <meta
      name="description"
      content="A Machine Learning-based web application that classifies emails as **Spam** or **Not Spam** in real time. The project uses **TF-IDF Vectorization**, **Logistic Regression**, and **NLTK** for text preprocessing, and is deployed as a web application using **Flask** and [Render](https://render.com?utm_source=chatgpt.com).
"
    />
    <meta
      name="keyword"
      content="email spam classifies, email, email spam, Check email spam"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <h1>Welcome To Email Spam Classification</h1>
        <div class="main-form">
          <form action="/predict" method="post">
            <div class="textarea-input">
              <textarea
                name="email_text"
                id="email_text"
                placeholder="Enter Your Mail"
              >
{{ data }}</textarea
              >
            </div>
            <button type="submit" id="predict-btn">Predict</button>
          </form>
          <div class="result-show">
            {% if not message %}
            <p>Enter Email For Check Email Spam or Not</p>
            {% else %}
            <p>{{ message }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script>
      let resultShow = document.querySelector(".result-show");
      document.querySelector("#predict-btn").addEventListener("click", () => {
        resultShow.innerHTML = "predicting...";
      });
    </script>
  </body>
</html>
